.table{
    width: 60%;
    background-color: #000;
    height: 100%;
    top: 105px;
    position: relative;
    left: 50%;
    transform: translate(-50%);


}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table,
  tr {
    border: 1px solid #aaa;
  }
  
  th,
  td {
    padding: 7px 10px;
  }
  th {
    color: #aaa;
    font-size: 12px;
  }
  td {
    font-size: 14px;
    color: rgb(223, 215, 215);
  }
  